name: Run snapshot and UI e2e tests
on: [workflow_dispatch,push]

env:
  api_test: 31

jobs:
  build:
    runs-on: macos-latest # to have VM Acceleration https://github.com/ReactiveCircus/android-emulator-runner

    steps:
        - uses: actions/checkout@v3
          
        - name: Set up JDK 11
          uses: actions/setup-java@v3
          with:
            java-version: '11'
            distribution: 'adopt'
            
        - name: Setup Android SDK
          uses: android-actions/setup-android@v2

        - name: Cache Gradle and wrapper
          uses: actions/cache@v2
          with:
            path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
            key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
            restore-keys: |
              ${{ runner.os }}-gradle-
        - name: Make Gradle executable
          run: chmod +x ./gradlew

        - name: AVD cache
          uses: actions/cache@v3
          id: avd-cache
          with:
            path: |
              ~/.android/avd/*
              ~/.android/adb*
            key: avd-$api_test

        - name: create AVD and generate snapshot for caching
          if: steps.avd-cache.outputs.cache-hit != 'true'
          uses: reactivecircus/android-emulator-runner@v2
          with:
            api-level: ${{ env.api_test }}
            force-avd-creation: false
            emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
            disable-animations: false
            script: echo "Generated AVD snapshot for caching."
          
        - name: run tests
          uses: reactivecircus/android-emulator-runner@v2
          with:
            api-level: ${{ env.api_test }}
            arch: x86_64
            profile: Nexus 6
            script: ./gradlew connectedDebugAndroidTest

        - name: Upload artifacts
          uses: actions/upload-artifact@v3
          if: failure()
          with:
            path: app/build/reports/**
